.mt8
  margin-top: 8px
.mr8
  margin-right: 8px
.mb8
  margin-bottom: 8px
.ml8
  margin-left: 8px

.mt10
  margin-top: 10px
.mr10
  margin-right: 10px
.mb10
  margin-bottom: 10px
.ml10
  margin-left: 10px

.href
  cursor: pointer
  color: #008dff